body {
  margin: 0;
  /* background-image: url(https://5.imimg.com/data5/YX/GL/UV/SELLER-64014672/plain-textured-wallpaper-500x500.jpg); */
  background-size: cover;
  position: static;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  display: none;
}
